FLASK_APP=run.py
MYSQL_DATABASE=your_database
MYSQL_USER=your_user
MYSQL_PASSWORD=your_user_password

# 本機 Python 直連 Docker MySQL 的設定
# 使用 127.0.0.1 因為資料庫 port 3306 會映射到本機
DATABASE_URL=mysql+pymysql://your_user:your_user_password@127.0.0.1:3306/your_database

# ==================== .env ====================
FLASK_ENV=development
SECRET_KEY=your_SECRET_KEY
PORT=5001

