# ----- Python -----
__pycache__/
*.py[cod]
*$py.class

# 虛擬環境（非常重要）
venv/
env/
.venv/

# Jupyter Notebook checkpoint（如果未來有 Notebook）
.ipynb_checkpoints/

# pip install 的暫存
pip-log.txt
pip-delete-this-directory.txt

# ----- Flask / APIFlask -----
instance/
*.db
*.sqlite3

# ----- 環境設定 -----
.env
*.env

# ----- 系統檔 -----
.DS_Store
Thumbs.db

# ----- IDE 設定 -----
# VSCode
.vscode/
# PyCharm
.idea/

# ----- 測試 -----
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/

# ----- log -----
*.log

# ----- build/output -----
dist/
build/
*.egg-info/


note.md